@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  /* html {
    --line-color: rgba(255, 255, 255, 0.2);
    /* --line-color: #e5e7eb; */
  

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border !scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
  button {
    @apply active:outline-none;
  }
}

@layer utilities {
  .heading {
    @apply font-bold text-4xl md:text-5xl text-center;
  }

  .black-gradient {
    background: linear-gradient(90deg, #161a31 0%, #06091f 100%);
  }
}

.avatar-image {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover !important;
  border-radius: 50% !important;
}

/*---------------- Timeline styles ===================*/
/* Timeline container */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

/* Timeline vertical line */
.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: darkslategrey;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.timeline-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Container on the left */
.timeline-container.left {
  left: 0;
}

/* Container on the right */
.timeline-container.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.timeline-container.left::after {
  content: " ";
  position: absolute;
  top: 15px;
  right: 10px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent darkslategrey;
}

/* Add arrows to the right container (pointing left) */
.timeline-container.right::after {
  content: " ";
  position: absolute;
  top: 15px;
  left: 10px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent darkslategrey transparent transparent;
}

/* Circle in the center */
.timeline-container .timeline-icon {
  width: 20px;
  height: 20px;
  background-color: darkslategrey;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: -11px;
  /* left: -45px; */
  z-index: 1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  .timeline-container.left::after, .timeline-container.right::after {
    left: 60px;
    border: none;
  }

  .timeline::after {
    left: 30px;
  }

  .timeline-container.left, .timeline-container.right {
    left: 0;
  }

  .timeline-container .timeline-icon {
    left: 20px;
  }
}



